<?xml version="1.0" encoding="utf-8" ?>
<!--
*****************************************************************************************************************
*                                                                                                               *
* Copyright (C) 2010 Seapeak.Xu / xvhfeng                                                                       *
* FastDFS .Net Client may be copied only under the terms of the GNU General Public License V3,                  *
* which may be found in the FastDFS .Net Client source kit.                                                     *
* Please visit the FastDFS .Net Client Home Page https://code.google.com/p/fastdfs-net-client/ for more detail. *
*                                                                                                               *
*****************************************************************************************************************
-->

<configuration>
	<NetworkTimeout>200000</NetworkTimeout>
	<!-- 连接超时，可以根据实际情况配置 -->
	<Charset>ISO8859-1</Charset>
	<!-- 传输编码，可以根据实际情况配置，一般不用配置 -->
	<!-- 以下为DFS服务器配置，请勿在没有通知的情况下更改 -->
	<TrackerServers>
		<TrackerServer Address="192.168.135.9" Port="22122" PoolSize="30" GroupName="test"/>
	</TrackerServers>
	<StorageServers>
		<StorageServer Address="192.168.135.9" Port="23000" PoolSize="70"/>
	</StorageServers>
</configuration>