<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <NetworkTimeout>20</NetworkTimeout>
  <Charset>ISO8859-1</Charset>
  <MonitorTimeout></MonitorTimeout>
  <TrackerServers>
    <TrackerServer Address="10.62.245.107" Port="22122" PoolSize="250"/>
    <TrackerServer Address="10.62.164.84" Port="22122" PoolSize="250"/>
  </TrackerServers>
  <StorageServers>
    <StorageServer Address="10.62.245.107" Port="23000" PoolSize="250"></StorageServer>
    <StorageServer Address="10.62.245.107" Port="23000" PoolSize="250"></StorageServer>
    <StorageServer Address="10.62.245.107" Port="23000" PoolSize="250"></StorageServer>
    <StorageServer Address="10.62.245.107" Port="23000" PoolSize="250"></StorageServer>
    <StorageServer Address="10.62.245.107" Port="23000" PoolSize="250"></StorageServer>
  </StorageServers>
</configuration>